.complete-button
{
  width: 25px;
  margin: 5px;
}

.edit-item{
  margin: 1px;
}

.invalid{
  color: red;
}

.form-control{
  width: 100%;
}

/* start table columns width */
.noColumn{
  width: 10%;
}

.nameColumn{
  width: 20%;
}

.descriptionColumn{
  width: 40%;
}

.completeColumn {
  width: 10%;
}

.actionColumn{
  width: 20%;
}

/* end table columns width */
