<h1>ToDo List</h1>

<p>Manage your tasks.</p>

<p *ngIf="!tasks"><em>Loading...</em></p>

<a (click)="newTask()"
   class="btn btn-info">
  Add
</a>
<a (click)="toggleCompleted()"
   class="btn btn-default pull-right">
  <span *ngIf="showCompleted">Show completed</span>
  <span *ngIf="!showCompleted">Show ToDo</span>
</a>

<table class='table' *ngIf="tasks">
  <thead>
    <tr>
      <th class="noColumn">No.</th>
      <th class="nameColumn">Name</th>
      <th class="descriptionColumn">Description</th>
      <th class="completeColumn">Complete</th>
      <th class="actionColumn">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of tasks; let i = index; trackBy: id">
      <td>{{ i+1 }}</td>
      <td>{{ task.name }}</td>
      <td>{{ task.description }}</td>
      <td>{{ task.completed }}</td>
      <td>
        <a (click)="selectTask(task)"
           class="btn btn-success">
          Edit
        </a>
        <a (click)="deleteTask(task)"
           class="btn btn-danger">
          Delete
        </a>
      </td>
    </tr>
  </tbody>
</table>

<form class="form-inline" *ngIf="editing">
  <table class='table'>
    <tr>
      <td class="noColumn">
      </td>
      <td class="nameColumn">
        <label class="sr-only" for="name">Name</label>
        <input type="text" class="form-control edit-item" [(ngModel)]="currentTask.name" name="name" placeholder="Name">
      </td>
      <td class="descriptionColumn">
        <label class="sr-only" for="description">Description</label>
        <input type="text" class="form-control edit-item" [(ngModel)]="currentTask.description" name="description" placeholder="Description">
      </td>
      <td class="completeColumn">
        <label class="sr-only" for="completed">Completed</label>
        <input type="checkbox" class="form-control complete-button" [(ngModel)]="currentTask.completed" name="completed" placeholder="Completed">
      </td>
      <td class="actionColumn">
        <button type="submit" class="btn btn-primary" (click)="upsertTask()">Submit</button>
      </td>
    </tr>
  </table>
</form>

<ul *ngFor="let er of errors">
  <li class="invalid">{{ er }}</li>
</ul>
